.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.col-full {
  width: 100%;
}

.col-30 {
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.just-even {
  justify-content: space-evenly;
}

.just-cent {
  justify-content: center;
}

.just-btwn {
  justify-content: space-between;
}

.al-center {
  align-items: center;
}

.pos-rel {
  position: relative;
}

.flex-end {
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  body {
    margin: auto;
    max-width: 1280px;
    background-color: #292929;
  }

  .col-75 {
    width: 75%;
  }

  .col-30 {
    width: 33.33%;
    margin: 0;
  }

  .fill-col {
    width: 70%;
  }
}
