.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.col-full {
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.just-even {
  justify-content: space-evenly;
}

.just-btwn {
  justify-content: space-between;
}

.al-center {
  align-items: center;
}

.pos-rel {
  position: relative;
}
