* {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14pt;
}

.hidden {
  display: none !important;
}

body {
  background-color: #f0f0f0;
}

a {
  color: black;
  text-decoration: none;
}

a.recipe-card-compact {
  display: block;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

h1 {
  font-size: 30pt;
  color: white;
}

h2 {
  font-size: 24pt;
  font-weight: 600;
  margin-bottom: 0;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 18pt;
  font-weight: 600;
}

h4 {
  font-size: 14pt;
  font-weight: 600;
}

p,
h4 {
  margin: 0;
}

p,
li {
  font-weight: 500;
}

img {
  width: 100%;
  border-radius: 6px;
}

input,
textarea {
  margin-bottom: 1rem;
  border: 1px solid #aaa;
  border-radius: 4px;
}

::placeholder {
  color: #aaa;
}

a,
button {
  cursor: pointer;
}

a:hover {
  color: black;
}

button {
  margin-bottom: 1rem;
  border: none;
  background-color: #f3c892;
  border-radius: 6px;
  padding: 0.25rem;
  font-size: 16pt;
}

ul {
  margin-left: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

i.fa-solid {
  color: black;
  font-size: 32pt;
  margin: 0.5rem;
}

p {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

li > p {
  margin: 0;
}

.box-shadow {
  box-shadow: 0 0 14px 4px #00000025;
}

.red {
  color: rgb(219, 0, 0);
  margin: 0;
}

#homepage {
  min-height: 100vh;
}

#main-header {
  background-color: #286d61;
  padding: 0.25rem 1rem;
  width: 100%;
  position: sticky;
  top: 0;
}

#sub-header-top,
#navbar {
  background-color: #a3da8d;
  padding: 0.25rem 1rem;
  max-height: 4rem;
}

#navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 4rem;
}

#sub-header-bot {
  background-color: #fff1bd;
  min-height: 24pt;
  padding: 0.25rem 1rem;
}

#add-form-container,
.recipe-card-compact,
.recipe-card-full,
.delete-popup {
  margin: 1rem;
  border: 2px solid #f3c892;
  border-radius: 8px;
  background-color: white;
}

#add-form-container,
.recipe-card-compact:last-child,
.recipe-card-full {
  margin-bottom: 5rem;
}

#add-recipe-form,
.preview-container,
.full-card-content,
.delete-popup {
  padding: 0.5rem;
}

#edit-recipe {
  display: block;
  margin: 0 0.25rem 0 0;
  font-size: 1.5rem;
}

#back-arrow {
  display: block;
  margin: 0 0.25rem 0 0;
  max-height: 1rem;
}

#delete-recipe {
  font-size: 1.5rem;
  margin: 0;
}

.card-preview {
  width: 50%;
}

.image-preview {
  border-radius: 6rem;
  width: 50%;
  min-height: 100px;
  padding: 0.5rem;
}

.image-full {
  border-radius: 6rem;
  width: 75%;
  margin: 0 auto;
  min-height: 100px;
  padding: 0.5rem;
}

.ingredient-entry-form {
  padding: 0.25rem;
  border: 1px solid #aaa;
  border-radius: 6px;
}

.ingredient-entry-form label {
  font-weight: 400;
}

.ingredient-inputs {
  width: 80%;
}

.ingredient-inputs input {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  width: 100%;
}

.ingredient-preview:hover {
  background-color: #f0f0f0;
  border-radius: 8px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.308);
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.submit-new-ingredient {
  margin: 0 0 0 0.25rem;
  padding: 0 0.25rem;
}

.card-title {
  margin: 0;
  background-color: #f3c892;
  border: 2px #f3c892;
  border-radius: 5px;
  padding-left: 0.25rem;
  padding-bottom: 0.25rem;
}

i.gray-icon {
  font-size: 1rem;
  color: gray;
}

.tags {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0 0.25rem;
  font-weight: 500;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.text-center {
  margin: 0 0.5;
}
