* {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 14pt;
}

body {
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

h1 {
  font-size: 30pt;
  color: white;
}

h2 {
  font-size: 24pt;
  font-weight: 600;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 18pt;
  font-weight: 600;
}

h4 {
  font-size: 14pt;
  font-weight: 600;
}

p,
h4 {
  margin: 0;
}

p {
  font-weight: 500;
}

input,
textarea {
  margin-bottom: 1rem;
  border: 1px solid #aaa;
  border-radius: 4px;
}

::placeholder {
  color: #aaa;
}

a,
button {
  cursor: pointer;
}

button {
  border: none;
  background-color: #f3c892;
  border-radius: 6px;
  padding: 0.25rem;
  font-size: 16pt;
}

li {
  list-style: none;
}

i.fa-solid {
  color: black;
  font-size: 32pt;
  margin: 0.5rem;
}

.box-shadow {
  box-shadow: 0 0 14px 4px #00000025;
}

#homepage {
  min-height: 100vh;
}

#main-header {
  background-color: #286d61;
  padding: 0.25rem 1rem;
  width: 100%;
  position: sticky;
  top: 0;
}

#sub-header-top,
#navbar {
  background-color: #a3da8d;
  padding: 0.25rem 1rem;
  max-height: 4rem;
}

#navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 4rem;
}

#sub-header-bot {
  background-color: #fff1bd;
  min-height: 24pt;
  padding: 0.25rem 1rem;
}

#add-form-container,
.recipe-card-compact {
  margin: 1rem;
  border: 2px solid #f3c892;
  border-radius: 8px;
  background-color: white;
}

#add-form-container,
.recipe-card-compact:last-child {
  margin-bottom: 5rem;
}

#add-recipe-form,
.preview-container {
  padding: 0.5rem;
}

.image-preview {
  min-width: 40%;
}

.card-title {
  margin: 0;
  background-color: #f3c892;
  border: 2px #f3c892;
  border-radius: 5px;
  padding-left: 0.25rem;
}
